@import 'reset';
// Home
// 1. #header
.wrap {
	background-color: #ededed;
}
.container-wrap {
	background-color: #FFFFFF;
	margin-right:auto;
	margin-left:auto;
}
.code-otp-wrap {
	padding: 26px 18px;
}
#header {
	&.home {
		// home
		background: url('../images/background/background-home-head.png');
		height: 429px;
		position: relative;
		margin-bottom: 60px;
		>a {
			display: block;
	    margin: 0 auto;
	    width: 112px;
	    background-color: #C61D23;
	    text-align: center;
	    max-height: 57px;
	    margin-bottom: 38px;
		    >img {
				height: 57px;
		    	width: 80%;
			}
		}
		>span {
			font-weight: bold;
			font-size: 20px;
			color: #C61D23;
			display: block;
			text-align: center;
		}
		>.banner-home-head {
			max-width: 245px;
		    position: absolute;
		    bottom: -10px;
		    left: 50%;
		    transform: translateX(-50%);
		    -moz-transform: translateX(-50%);
		    -webkit-transform: translateX(-50%);
		    -o-transform: translateX(-50%);
		}
		// home
	}
	&.register-once {
		// Register 1
		height: 63px;
		line-height: 63px;
		>.icon {
			>img {
				display: inline-block;
	    		vertical-align: middle;
	    		padding: 0 18px 0 12px;
			}
		}
		>span {
			font-weight: 500;
			line-height: normal;
			font-size: 16px;
			color: #000000;
		}
		// Register 1
	}
	&.find-number {
		height: 63px;
		line-height: 63px;
		>.icon {
			>img {
				display: inline-block;
	    		vertical-align: middle;
	    		padding: 0 18px 0 12px;
			}
		}
		>span {
			font-weight: 500;
			line-height: normal;
			font-size: 16px;
			color: #000000;
		}
	}
	&.code-otp {
		span.thank {
			font-size: 18px;
			color: #000000;
			display: block;
			font-weight: bold;
			line-height: 40px;
		}
		span.otp {
			max-width: 300px;
    		display: block;
    		padding: 15px 0;
    		color: #625555;
		}
	}
}
// 1 #section
#section {
	&.home {
		position: relative;
		>div {
			max-width: 378px;
		    height: 64px;
		    display: block;
		    margin-left: auto;
		    margin-right: auto;
		    text-align: center;
		    line-height: 64px;
		    border-radius: 5px;
		}
		>.register-sale {
		    background-color: #C61D23;
		    margin-bottom: 22px;
		    >a {
		    	color: #FFFFFF;
		    }
		}
		>.find-visitor {
			border: 1px solid #000000;
	    	box-sizing: border-box;
			>a {
				color: #625555;
			}
		}
		a {
	    	font-weight: 500;
			font-size: 22px;
	    }
	}
	&.register-once {
		.wrap-content {
			padding: 24px 18px 24px 12px;
			font-size: 15px;
			color: #000000;
			>span {
				font-size: 14px;
				color: #635D5D;
			}
			&.gif {
				line-height: 60px;
				padding: 0px 18px 0 12px;
				>input[type="radio"] {
					margin: 3px 10px 0px 10px;
				}
			}
		}
		.finished {
			background: #C61D23;    
			border-radius: 4px;
			width: 378px;
			height: 64px;
			text-align: center;
	    	line-height: 64px;
	    	margin-right: auto;
    		margin-left: auto;
	    	>a {
	    		font-weight: 500;
				font-size: 20px;
				color: #FFFFFF;
	    	}
		}
		.fullname, .numberphone, .birthday, .email, .palace, .receivgif {
			>span, >input {
				display: inline-block;
			}
			>span {
				width: 35%;
				font-size: 14px;
				color: #635D5D;
			}
		}// .palace, .receivgif for page reveiv-sale
		.email {
			>input {
				width: 60%;
			}
		}
		.birthday {
			>input {
				width: 35%;
			}
		}
	}
	&.code-otp {
		button[type="button"] {
			border: none;
		    padding: 0;
		    height: 30px;
		    line-height: 30px;
		    background-color: transparent;
		    color: #2faae7;
		    font-weight: 600;
		}
		.section-wrap-header {
			padding: 15px 0 80px 0;
			span.sp-col-left {
				font-size: 25px;
				color: #D4D4D6;
				&.active {
					color: #000000;
					font-weight: bold;
				}
			}
			span.sp-col-right {
				color: #C18F96;
				&.active {
					color: #BD0606;
					font-weight: bold;
				}
			}
		}
		.section-wrap-content {
			padding: 20px 0;
			span.sp-col-left {
				color: rgba(0,0,0, 0.7);
				font-size: 25px;
			}
			span.sp-col-right {
				height: 34px;
    			line-height: 34px;
    			display: inline-block;
    			color: #C0C0C0;
			}
		}
		.section-wrap-footer {
		    margin-right: auto;
		    margin-left: auto;
			input[type="submit"] {
				width: 100%;
			    padding: 15px 0;
			    border-radius: 5px;
			    border: none;
			    color: #ffffff;
			    background-color:#C0C0C0;
			    font-weight: 600;
			    font-size: 16px;
			    &:hover{
					background-color: #228DD0;
					color: #ffffff;
			    }
			    &:focus {
			    	outline: none;
			    }
			}
		}
		&.find-number {

		}
	}
	&.find-number {
		padding: 20px 0;
		input[type="text"] {
			display: block;
		    margin: auto;
		    width: 90%;
		    box-sizing: border-box;
		    height: 66px;
		    background: #F3F2F2;
		    border-radius: 10px;
		    border: none;
    		text-align: left;
		    margin-bottom: 20px;
		    padding-left: 30px;
		    font-size: 16px;
			color: #635D5D;
    		&::placeholder{
    			font-size: 16px;
				color: #635D5D;
    		}
    		&.active {
    			font-size: 18px;
				color: #000000;
    		}
		}
		&.active {
			input[type="text"] {
				text-align: center;
		    	padding-left: 0;
		    	font-size: 18px;
    			color: #000000;
			}
		}
		input[type="submit"] {
			display: block;
		    width: 90%;
		    margin: auto;
		    border: none;
		    border-radius: 10px;
		    height: 66px;
		    position: relative;
		    font-size: 20px;
		    font-weight: 500;
			color: #FFFFFF;
			background-color: #C4C4C4;
			&.active {
				background-color: rgba(198, 29, 35, 0.9);
			}
		}
		span.icon-searchnb {
			display: block;
			position: relative;
			&:before {
				content: "";
			    position: absolute;
			    top: 50%;
			    left: 32%;
			    background: url(../images/icon/search-icon-white.png);
			    width: 21px;
			    height: 21px;
			    z-index: 1;
			    transform: translateY(-50%);
					-moz-transform: translateY(-50%);
						-webkit-transform: translateY(-50%);
							-o-transform: translateY(-50%);
			}
		}
	}
}
span.gif-title {
	display: block;
	height: 40px;
}
// Register 1
.icon {
	display: inline-block;
}
.wrap-content-finished {
	padding: 12px 18px 12px 18px;
	    margin-bottom: 25px;
}
.wrap-content-field {
	padding: 0 18px 0 12px;
	color: #635D5D;
    font-size: 14px;
	>input[type="text"], input[type="email"]{
		border-color: transparent;
		margin: 20px 0;
		text-align: center;
	}
	>label {
		padding: 20px 0;
    	display: inline-block;
	}
}
span.line-botton {
	display: block;
	border-bottom: 1px solid #ededed;
}
// Register 1
// Register 2
// 1. #header
.wrap-content-finished {
	padding: 12px 18px 12px 18px;
	    margin-bottom: 25px;
}
.wrap-content-field {
	padding: 0 18px 0 12px;
	color: #635D5D;
    font-size: 14px;
	input[type="text"], input[type="email"]{
		border-color: transparent;
		margin: 20px 0;
		text-align: left;
		font-size: 15px;
		color: #000000;
	}
	label {
		padding: 20px 0;
    	display: inline-block;
	}
	.usephone, .buywhere, .whybuy {
		span, input {
		    display: inline-block;
		    height: 21px;
		    line-height: 21px;
		}
		span {
			width: 60%
		}
		input {
			width: 38%	
		}
	}
}
span.line-botton {
	display: block;
	border-bottom: 1px solid #ededed;
}
#popup-province {
	position: absolute;
    top: 135px;
    text-align: center;
    display: none;
    width: 100%;
    &.popup-active {
    	display: block;	
    }
    >ul {
    	>li {
    		padding: 10px 0;
		    position: relative;
		    line-height: 35px;
		    background-color: #ffffff;
    		&:after{
    			content: "";
			    display: block;
			    background-color: #ededed;
			    height: 1px;
			    position: absolute;
			    bottom: 0;
			    width: 100%;
    		}
    		>a {
    			color: #000000;
    		}
    		&.search {
    			padding: 5px 0;
    			background-color: #F5F7F9;
    			position: relative;
    			padding-left: 50px;
    			>img {
    				position: absolute;
				    top: 50%;
				    left: 18px;
				    transform: translateY(-50%);
				    	-moz-transform: translateY(-50%);
				    		-webkit-transform: translateY(-50%);
				    			-o-transform: translateY(-50%);
    			}
    			input[type="text"] {
    				width: 100%;
    				box-sizing: border-box;
    				border: none;
    				background-color: #F5F7F9;
    				&:focus{
    					outline: none;
    				}
    			}
    		}
    		&:last-child {
    			&:after {
    				content: none;
    			}
    		}
    	}
    }
}

// Register 2
// Register success
.container-wrap-success {
	padding: 0 20px;
}
span.logo-success {
	display: block;
	>img {
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
}
span.text-succes {
	display: block;
    font-size: 18px;
    color: #000000;
    text-align: center;
    font-weight: bold;
    padding: 20px 0;
}
span.slogen {
	display: block;
    max-width: 258px;
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
    text-align: center;
    color: #625555;
    margin-bottom: 30px;
}
#popup-cuccess {
	position: absolute;
	top: 20%;
	left: 50%;
	width: 90%;
	border: 1px solid #ededed;
	padding: 30px 0 18px 0;
    transform: translateX(-50%);
		-moz-transform: translateX(-50%);
			-webkit-transform: translateX(-50%);
				-o-transform: translateX(-50%);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	button[type="button"] {
	    background-color: #c61d23;
	    padding: 12px 18px;
	    border: 0;
	    border-radius: 10px;
	    float: right;
	    margin-right: 20px;
	    font-size: 18px;
	    color: #FFFFFF;
	    font-weight: bold;
	}
}