@import 'reset';
.wrap {
	background-color: #ededed;
}
.container-wrap {
	width: 414px;
	height: 736px;
	background-color: #FFFFFF;
	margin-right:auto;
	margin-left:auto;
}
// 1. #header
#header {
	height: 63px;
	line-height: 63px;
	>.icon {
		>img {
			display: inline-block;
    		vertical-align: middle;
    		padding: 0 18px 0 12px;
		}
	}
	>span {
		font-weight: 500;
		line-height: normal;
		font-size: 16px;
		color: #000000;
	}

}
.icon {
	display: inline-block;
}
// 1. #section
#section {
	.wrap-content {
		padding: 24px 18px 24px 12px;
		font-size: 15px;
		color: #000000;
		>span {
			font-size: 14px;
			color: #635D5D;
		}
		&.gif {
			line-height: 60px;
			padding: 0px 18px 0 12px;
			>input[type="radio"] {
				margin: 3px 10px 0px 10px;
			}
		}
	}
	.finished {
		background: #C61D23;    
		border-radius: 4px;
		width: 378px;
		height: 64px;
		text-align: center;
    	line-height: 64px;
    	>a {
    		font-weight: 500;
			font-size: 20px;
			color: #FFFFFF;
    	}
	}
}
.wrap-content-finished {
	padding: 12px 18px 12px 18px;
	    margin-bottom: 25px;
}
.wrap-content-field {
	padding: 0 18px 0 12px;
	color: #635D5D;
    font-size: 14px;
	>input[type="text"], input[type="email"]{
		border-color: transparent;
		margin: 20px 0;
		text-align: center;
	}
	>label {
		padding: 20px 0;
    	display: inline-block;
	}
}
span.line-botton {
	display: block;
	border-bottom: 1px solid #ededed;
}
#popup-province {
	position: absolute;
    top: 150px;
    width: 414px;
    text-align: center;
    display: none;
    &.popup-active {
    	display: block;	
    }
    >ul {
    	>li {
    		padding: 10px 0;
		    position: relative;
		    line-height: 35px;
		    background-color: #ffffff;
    		&:after{
    			content: "";
			    display: block;
			    background-color: #ededed;
			    height: 1px;
			    position: absolute;
			    bottom: 0;
			    width: 100%;
    		}
    		>a {
    			color: #000000;
    		}
    		&.search {
    			padding: 5px 0;
    			background-color: #F5F7F9;
    			position: relative;
    			padding-left: 50px;
    			>img {
    				position: absolute;
				    top: 50%;
				    left: 18px;
				    transform: translateY(-50%);
				    	-moz-transform: translateY(-50%);
				    		-webkit-transform: translateY(-50%);
				    			-o-transform: translateY(-50%);
    			}
    			input[type="text"] {
    				width: 100%;
    				box-sizing: border-box;
    				border: none;
    				background-color: #F5F7F9;
    				&:focus{
    					outline: none;
    				}
    			}
    		}
    		&:last-child {
    			&:after {
    				content: none;
    			}
    		}
    	}
    }
}